{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>テストページ</title>
    <link rel="stylesheet" href="{% static 'refrigerator/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'refrigerator/css/style.css' %}" />
</head>

<body>
    <header class="header">
        <h1 class="logo">サンプルサイト</h1>
        <nav class="global-nav">
            <ul>
                <li class="nav-item active"><a href="#">HOME</a></li>
                <li class="nav-item"><a href="#">ABOUT</a></li>
                <li class="nav-item"><a href="#">NEWS</a></li>
                <li class="nav-item"><a href="#">TOPICS</a></li>
                <li class="nav-item"><a href="#">DOCS</a></li>
                <li class="nav-item"><a href="#">BLOG</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <main class="main">
            <a>もじもじ</a>
        </main>
    </div>
    <footer class="footer">
        <p class="copyright">Copyright @ 2020 syokuzai_tarou</p>
    </footer>
</body>

</html>