{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>テストページ</title>
    <link rel="stylesheet" href="{% static 'refrigerator/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'refrigerator/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'refrigerator/css/hamburger.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <h1 class="logo">食材残さないよ太郎</h1>
        <div class="outer-menu">
            <input class="checkbox-toggle" type="checkbox" />
            <div class="hamburger">
            <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <p>Hey！<font color="#eb5a09">{{ user.username }}</font></p>
                            <li><a href="{% url 'logout' %}">ログアウト</a></li>
                            <li><a href="{% url 'password_change' %}">パスワード変更</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="global-nav">
            <ul>
                <li class="nav-item active"><a href="#">HOME</a></li>
                <li class="nav-item"><a href="#">ABOUT</a></li>
                <li class="nav-item"><a href="#">NEWS</a></li>
                <li class="nav-item"><a href="#">TOPICS</a></li>
                <li class="nav-item"><a href="#">DOCS</a></li>
                <li class="nav-item"><a href="#">BLOG</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <main class="main">
            <a>もじもじ</a><br>
            <a>これはindex.html</a>
        </main>
    </div>
    <footer class="footer">
        <p class="copyright">Copyright @ 2020 syokuzai_tarou</p>
    </footer>
</body>

</html>