{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>パスワード変更完了</title>
    <link rel="stylesheet" href="{% static 'refrigerator/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'refrigerator/css/table.css' %}" />
    <link rel="stylesheet" href="{% static 'refrigerator/css/deco_btn.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


    <header class="header">
        <h1><a href="{% url 'refrigerator' %}"><p class="logo" alt="食材残さないよ太郎"></a></h1>
        <nav class="global-nav">
            <ul>
                <li class="nav-item active"><a href="{% url 'refrigerator' %}">HOME</a></li>

            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <main class="main">
            <h1>パスワード変更完了</h1>
            <p>パスワードを変更しました。</p>
            <button class="decorated-btn" class="btn btn-primary btn-block"><a href="{% url 'refrigerator' %}">HOME</a></button>
        </main>
    </div>
    <footer class="footer">
        <p class="copyright">Copyright @ 2020 syokuzai_tarou</p>
    </footer>
</body>

</html>