{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>パスワード変更</title>
    <link rel="stylesheet" href="{% static 'refrigerator/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'refrigerator/css/table.css' %}" />
    <link rel="stylesheet" href="{% static 'refrigerator/css/deco_btn.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <h1><a href="{% url 'refrigerator' %}"><p class="logo" alt="食材残さないよ太郎"></a></h1>
        <nav class="global-nav">
            <ul>
                <li class="nav-item active"><a href="{% url 'refrigerator' %}">HOME</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <main class="main">
            <h1>パスワード変更</h1>
           
            <form action="" method="POST">
                {{ form.non_field_errors }} 
                  <!--
                {% block content %} 
              
                {% for field in form %}

                <label class="col-6" for="{{ field.id_for_label }}">{{ field.label_tag }}</label> 
                {{ field }} {{ field.errors }}
                </br>
                {% endfor %} 
            -->
            <!--
            <p>古いパスワード</p>
            <p>{{ form.old_password }}</p>
            <p>新しいパスワード</p>
            <p>{{ form.new_password1 }}</p>
            <p>新しいパスワード（確認）</p>
            <p>{{ form.new_password2 }}</p>
            -->
                {% csrf_token %}
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><h4>{{ form.old_password.label }} :</h4></div>
                            <div class="divTableCell">{{ form.old_password }}</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><h4>{{ form.new_password1.label }} :</h4></div>
                            <div class="divTableCell">{{ form.new_password1 }}</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><h4>{{ form.new_password2.label }} :</h4></div>
                            <div class="divTableCell">{{ form.new_password2 }}</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"></div>
                            <div class="divTableCell"><p align="right"><button class="decorated-btn" type="submit" class="btn btn-primary btn-block">送信</button></p></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"></div>
                            <div class="divTableCell"><p align="right"><button class="decorated-btn" type="submit" class="btn btn-primary btn-block" onClick="javascript:history.go(-1);">戻る</button></p></div>
                        </div>
                    </div>
                </div>

                
                <!--
                    {% endblock %}
                -->
            </form>
        </main>
    </div>
    <footer class="footer">
        <p class="copyright">Copyright @ 2020 syokuzai_tarou</p>
    </footer>



</body>

</html>