{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>SIGN UP</title>
    <link rel="stylesheet" href="{% static 'refrigerator/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'refrigerator/css/table.css' %}" />
    <link rel="stylesheet" href="{% static 'refrigerator/css/deco_btn.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <h1>
            <a href="{% url 'refrigerator' %}">
                <p class="logo" alt="食材残さないよ太郎">
            </a>
        </h1>
        <nav class="global-nav">
            <ul>
                <li class="nav-item active"><a href="{% url 'refrigerator' %}">ログイン</a></li>
            </ul>
        </nav>
    </header>

    <div class="wrapper">
        <main class="main">
            <h1>新規登録</h1>

            <form  method="POST">
                {% csrf_token %}
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><h4>ユーザー名 :</h4></div>
                            <div class="divTableCell">{{ form.username }}</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><h4>{{ form.password1.label }} :</h4></div>
                            <div class="divTableCell">{{ form.password1 }}</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><h4>{{ form.password2.label }} :</h4></div>
                            <div class="divTableCell">{{ form.password2 }}</div>
                        </div>
                     
                        
                        <div class="divTableRow">
                            <div class="divTableCell"></div>
                            <div class="divTableCell"><p align="right"><button class="decorated-btn" type="submit">新規登録</button></p></div>
                        </div>
                    </div>
                </div>
            
                    <p style="margin:20px;"></p>
                    <p>パスワードは他の個人情報と似てはいけません。</p>
                    <p style="margin:20px;"></p>
                    <p>パスワードは8文字以上にする必要があります。</p>
                    <p style="margin:20px;"></p>
                    <p>パスワードは、一般的に使用されるパスワードにすることはできません。</p>
                    <p style="margin:20px;"></p>
                    <p>パスワードを完全に数字のみにすることはできません。</p>
                    <p style="margin:20px;"></p>
                 

            </form>

        </main>
    </div>
    <footer class="footer">
        <p class="copyright">Copyright @ 2020 syokuzai_tarou</p>
    </footer>

</body>

</html>