{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>SIGN UP</title>
  <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}" />
  
</head>
<body>
  <header class="header">
    <h2 class="head">SIGN UP</h2>

    <nav class="global-nav">
      <ul>
        <li class="nav-item active"><a href="{% url 'home' %}">HOME</a></li>
    
      </ul>
    </nav>

  </header>
  <div class="wrapper clearfix">
    <main class="main">


        <p style="margin:20px;">
      {% block content %}
      <form action="" method="POST">
    {% csrf_token %}
   <p> {{ form.username.label_tag }}
        {{ form.username }}</p>
          <p style="margin:20px;">
       <p> {{ form.password1.label_tag }}
        {{ form.password1 }}</p>
          <p style="margin:20px;">
        <p> {{ form.password2.label_tag }}
        {{ form.password2 }}</p>
          <p style="margin:20px;">
          <p>パスワードはあまり他の個人情報と似てはいけません。</p>
           <p style="margin:20px;">
            <p>パスワードは8文字以上にする必要があります。</p>
             <p style="margin:20px;">
            <p>パスワードは、一般的に使用されるパスワードにすることはできません。</p>
             <p style="margin:20px;">
            <p>パスワードを完全に数字のみにすることはできません。</p>
             <p style="margin:20px;">
    <button type="submit">Sign up</button>
    {% endblock %}

  </form>
      
    </main>
    
  </div>
  
</body>
</html>