@charset "UTF-8";
html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    background: #e6dfcb url('../images/background.png');
}

*,
*::before,
* ::after {
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #567947;
    text-decoration: none;
}

.header {
    width: 100%;
    padding: 28px 0 10px;
    background-color: #b5d8a7;
}

.wrapper {
    height: 200%;
    width: 970px;
    margin: 30px auto 40px;
}

.main {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 500px;
    text-align: center;
    
    overflow-y: scroll;
overflow-x: hidden;

}

.footer {
    width: 100%;
    padding: 20px 0 30px;
    background-color: #b5d8a7;
    color: #fff;
}

table {
    width: 800px;
  }
  th,
  td {
    width: 200px;
    height: 100px;
    vertical-align: middle;
    padding: 15px;
    border: 1px solid #ccc;
  }
  .fixed01,
  .fixed02 {
    top: 0;  
    position: sticky;
    color: #fff;
    background: #333;
  }
  .fixed01:before,
  .fixed02:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
  }
  .fixed01 {
    left: 0;
  }
  .fixed02 {
    left: 199px;
  }
  