.scrollArea{
    height: 400px;
    display: block;
    overflow: auto;
    padding-right: 20px;
  }
  /*スクロールバーの縦幅指定*/
  .scrollArea.deco::-webkit-scrollbar {
      height: 10px;
  }
  /*スクロールバーの背景色・角丸指定*/
  .scrollArea.deco::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: 0 0 4px rgb(146, 146, 146) inset;
    
  }
  /*スクロールバーの色・角丸指定*/
  .scrollArea.deco::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#567947;
    
    background: linear-gradient(0deg,#b5d8a7,#567947);
  }