body{
    color:rgb(0, 0, 0);
    font-size:13pt;
   }
   
   h1{
    color:rgb(0, 0, 0);
    opacity:0.2;
    font-size:30pt;
    margin-top:0pt;
    margin-bottom:0px;
    text-align:center;
   }
   
   p{
    margin:10px;
   }
   
   a{
    color:blue;
    text-decoration:none;
   }
   
   
   
   .button1 {
     display: inline-block;
     width: 200px;
     height: 54px;
     text-align: center;
     text-decoration: none;
     line-height: 54px;
     outline: none;
     background-color: #333;
     border: 2px solid #333;
     color: #fff;
     line-height: 50px;
   }
   .button1:hover {
     background-color: #fff;
     border-color: #59b1eb;
     color: #59b1eb;
   }
   .button1::before,
   .button1::after {
     position: absolute;
     z-index: -1;
     display: block;
     content: '';
   }
   .button1,
   .button1::before,
   .button1::after {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-transition: all .3s;
     transition: all .3s;
   }
   
   .sample img{
       width:40%;
       height:auto;
   }