{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'refrigerator/css/calender.css' %}" />
   
    <title>おなかすいた</title>
</head>

<body>
    <header class="header">
        <h1 class="logo">食材残さないよ太郎</h1>
        
        <nav class="global-nav">
            <ul>
               
            </ul>
        </nav>

   
</header>
<div class="wrapper">
   <main class="main">
    <a>トップページ</a><br>
    <table>
        <tr>
          <th class="fixed01">見出し</th>
          <th class="fixed01">見出し</th>
          <th class="fixed01">見出し</th>
        </tr>
        <tr>
          <td>テキスト</td>
          <td>テキスト</td>
          <td>テキスト</td>
        </tr>
        <tr>
          <td>テキスト</td>
          <td>テキスト</td>
          <td>テキスト</td>
        </tr>
        <tr>
            <td>テキスト</td>
            <td>テキスト</td>
            <td>テキスト</td>
          </tr>
          <tr>
            <td>テキスト</td>
            <td>テキスト</td>
            <td>テキスト</td>
          </tr>
          <tr>
            <td>テキスト</td>
            <td>テキスト</td>
            <td>テキスト</td>
          </tr>
          <tr>
            <td>テキスト</td>
            <td>テキスト</td>
            <td>テキスト</td>
          </tr>
      </table>
   </main>
</div>
<footer class="footer">
     <p class="copyright">Copyright @ 2020 syokuzai_tarou</p>
</footer>
</body>

</html>