{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'refrigerator/css/table.css' %}" />
    <link rel="stylesheet" href="{% static 'refrigerator/css/hamburger.css' %}" />
    <link rel="stylesheet" href="{% static 'refrigerator/css/deco_btn.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!--intro.jsの読み込み-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.1.0/intro.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.1.0/introjs.min.css" rel="stylesheet" type="text/css">
    <title>{{title}}</title>
</head>

<body>
    <header class="header">
        <h1><a href="{% url 'refrigerator' %}"><p class="logo" alt="食材残さないよ太郎"></a></h1>
        <div class="outer-menu">
            <input class="checkbox-toggle" type="checkbox" />
            <div class="hamburger">
            <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <hu>Hey！<font color="#eb5a09">{{ user.username }}</font></hu>
                            <li><a href="{% url 'logout' %}">ログアウト</a></li>
                            <li><a href="{% url 'password_change' %}">パスワード変更</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="global-nav">
            <ul>
                <li class="nav-item"><a href="{% url goto_refrigerator %}">{{ goto_refrigerator_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_register %}">{{ goto_register_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_change_select %}">{{ goto_change_select_text }}</a></li>
                <li class="nav-item active"> <a href="{% url goto_search %}">{{ goto_search_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_recipe_select %}">{{ goto_recipe_select_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_delete %}">{{ goto_delete_text }}</a></li>
                
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <main class="main">
        <a>食材検索ページ</a>
        
        <form action="{% url 'food_search' %}" method="post">
            {% csrf_token %}
            <h3><p align="left">{{msg}}</p></h3>
            <div class="serach-formTable">
                <div class="serach-formTableBody">
                    <div class="serach-formTableRow">
                        <div class="serach-formTableCell" data-intro="検索ワードを入力" data-step="1"><p align="left">{{form.search}}</p></div>
                        <div class="serach-formTableCell"><p align="left"><input class="decorated-btn" type="submit" value="検索" data-intro="検索ボタンを押して" data-step="2"></h3></p></div>
                    </div>
                </div>
            </div>
        </form> 
    
        <div class="scroll-table" data-intro="ここに結果が表示されるよ" data-step="3">
            <table class="osare-table col5t">    
            <tr>
            <thead>
            {% for h in header %}
            <th class="fixed01">{{h}}</th>
            {% endfor %}
            </thead>
            </tr>

            {% for item in foods %}
                <tr>
                    <td>{{ item.foodset.food }}</td>
                    <td>{{ item.foodset.foodGram }} [{{ item.foodset.volume }}]</td>
                    <td>{{ item.foodset.str_limitRegister }}</td>   
                </tr>
            {% endfor %}
            </table>
        </div>
        <input class="intro-btn" type="button" value="この機能の使い方" onclick="buttonClick()">
        <script type="text/javascript">
            function buttonClick(){
                introJs().start();
            }
        </script>
        </main>
    </div>
    <footer class="footer">
         <p class="copyright">Copyright @ 2020 syokuzai_tarou</p>
    </footer>
</body>

</html>