{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'refrigerator/css/table.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'refrigerator/css/deco_btn.css' %}" />
    <title>{{title}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script> 
<link rel="stylesheet" href="{% static 'refrigerator/css/hamburger.css' %}" />
<!--intro.jsの読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.1.0/intro.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.1.0/introjs.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="header">
        <h1><a href="{% url 'refrigerator' %}"><p class="logo" alt="食材残さないよ太郎"></a></h1>
        <div class="outer-menu">
            <input class="checkbox-toggle" type="checkbox" />
            <div class="hamburger">
            <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <hu>Hey！<font color="#eb5a09">{{ user.username }}</font></hu>
                            <li><a href="{% url 'logout' %}">ログアウト</a></li>
                            <li><a href="{% url 'password_change' %}">パスワード変更</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="global-nav">
             <ul>
                <li class="nav-item"><a href="{% url goto_refrigerator %}">{{ goto_refrigerator_text }}</a></li>
                <li class="nav-item active"><a href="{% url goto_register %}">{{ goto_register_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_change_select %}">{{ goto_change_select_text }}</a></li>
                <li class="nav-item"> <a href="{% url goto_search %}">{{ goto_search_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_recipe_select %}">{{ goto_recipe_select_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_delete %}">{{ goto_delete_text }}</a></li>
                
            </ul>
        </nav>
    
    </header>
    <div class="wrapper">
    <main class="main">
        <h2>食材登録ページ</h2>
        {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}">
                        {% endif %}
                        {{ message }}
                    </li>
                    {% endfor %}

            
            <form action="{% url 'food_register' %}" method="post">
                {% csrf_token %}

                <div class="divTable">
                    <div class="divTableBody" data-intro="内容を埋めて" data-step="1">
                        <div class="divTableRow">
                            <div class="divTableCell"><h3>{{ form_food.foodName.label }} :</h2></div>
                            <div class="divTableCell"><h3>{{ form_food.foodName }}</h3></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><h3>{{ form_foodset.foodGram.label }} :</h3></div>
                            <div class="divTableCell"><h3>{{ form_foodset.foodGram }}</h3></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><h3>{{ form_foodset.volume.label }} :</h3></div>
                            <div class="divTableCell"><h3>{{ form_foodset.volume }}</h3></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><h3>{{ form_foodset.limitRegister.label }} :</h3></div>
                            <div class="divTableCell"><h3>{{ form_foodset.limitRegister }}</h3></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"></div>
                            <div class="divTableCell"><p align="right"><input class="decorated-btn" type="submit" value="登録" data-intro="登録ボタンを押す" data-step="2"></p></div>
                        </div>
                    </div>
                </div>
            </form>
            <input class="intro-btn" type="button" value="この機能の使い方" onclick="buttonClick()">
            <script type="text/javascript">
                function buttonClick(){
                    introJs().start();
                }
            </script>
    </main>
    </div>

    <footer class="footer">
        <p class="copyright">Copyright @ 2020 syokuzai_tarou</p>
    </footer>
</body>

</html>