{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'refrigerator/css/style.css' %}" />
    <title>hello</title>
</head>

<body>
    <header class="header">
        <h1 class="logo">食材残さないよ太郎</h1>
        <nav class="global-nav">
            <ul>
                <li class="nav-item"><a href="{% url goto_refrigerator %}">{{ goto_refrigerator_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_register %}">{{ goto_register_text }}</a></li>
                <li class="nav-item active"><a href="{% url goto_change_select %}">{{ goto_change_select_text }}</a></li>
                <li class="nav-item"> <a href="{% url goto_search %}">{{ goto_search_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_recipe_select %}">{{ goto_recipe_select_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_delete %}">{{ goto_delete_text }}</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
       <main class="main">
        <a>食材登録変更を選択するページ</a>
        <table>
            <form action="{% url 'food_register' %}" method="post"></form>
            <tr>
                <th></th>
                <th>食材名</th>
            </tr>
            {% for item in data %}
            <tr>
                <td><input type="radio" value="change" id=item.id></td>
                <td>{{ item.id }}</td>
                <td>{{ item.foodName }}</td>
            </tr>
            {% endfor %}
            </form>
        </table>
        {% csrf_token %}
        <input type="submit" onclick="location.href='/refrigerator/food_change'" value="食材変更" >
    </main>
    </div>
    <footer class="footer">
         <p class="copyright">Copyright @ 2020 syokuzai_tarou</p>
    </footer>
</body>

</html>