{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'refrigerator/css/table.css' %}" />
    <link rel="stylesheet" href="{% static 'refrigerator/css/hamburger.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'refrigerator/css/deco_btn.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!--intro.jsの読み込み-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.1.0/intro.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.1.0/introjs.min.css" rel="stylesheet" type="text/css">

    <title>{{ title }}</title>
</head>
<body>
    <header class="header">
        <h1><a href="{% url 'refrigerator' %}"><p class="logo" alt="食材残さないよ太郎"></a></h1>
        <div class="outer-menu">
            <input class="checkbox-toggle" type="checkbox" />
            <div class="hamburger">
            <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <hu>Hey！<font color="#eb5a09">{{ user.username }}</font></hu>
                            <li><a href="{% url 'logout' %}">ログアウト</a></li>
                            <li><a href="{% url 'password_change' %}">パスワード変更</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="global-nav">
            <ul>
                <li class="nav-item"><a href="{% url goto_refrigerator %}">{{ goto_refrigerator_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_register %}">{{ goto_register_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_change_select %}">{{ goto_change_select_text }}</a></li>
                <li class="nav-item"> <a href="{% url goto_search %}">{{ goto_search_text }}</a></li>
                <li class="nav-item"><a href="{% url goto_recipe_select %}">{{ goto_recipe_select_text }}</a></li>
                <li class="nav-item active"><a href="{% url goto_delete %}">{{ goto_delete_text }}</a></li>
                
            </ul>
        </nav>
</header>
<div class="wrapper">
   <main class="main">
    <a>食材削除ページ</a>
    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}">
                        {% endif %}
                        {{ message }}
                    </li>
                    {% endfor %}
    <form action="{% url 'food_delete'  %}" method="post">
        {% csrf_token %}
        <div class="scroll-table" data-intro="削除する食材を選択して" data-step="1">
            <table class="osare-table col5t">  
            <tr>
                <thead>
                    {% for h in header %}
                    <th class="fixed01">{{h}}</th>
                    {% endfor %}
                </thead>
            </tr>
            <input type="hidden"  value="__foods_form__">
                        {% for item,data in foodlist %}
                            <tr>
                                <td>{{item}}</td>
                                <td>{{ data.foodset.foodGram }} [{{ data.foodset.volume }}]</td>
                                <td>{{data.foodset.str_limitRegister}}</td>
                            </tr>
                        {% endfor %}
        </table>
        </div>
        <input class="intro-btn" type="button" value="この機能の使い方" onclick="buttonClick()">
        <script type="text/javascript">
            function buttonClick(){
                introJs().start();
            }
        </script>
        <!--
        <input class="decorated-btn" type="submit" value="食材削除">
        -->
        <!-- モーダルを開くボタン・リンク -->
        <button type="button" class="decorated-btn" data-toggle="modal" data-target="#testModal" data-intro="削除ボタンを押そう!!<br>確認画面が出たら「削除」を押して削除完了" data-step="2">食材削除</button>
        
        <!-- ボタン・リンククリック後に表示される画面の内容 -->
        <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4><a class="modal-title" id="myModalLabel">削除確認画面</h4></h4>
                    </div>
                    <div class="modal-body">
                        <label>選択した食材データを本当に削除しますか？</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                        <button type="submit" class="btn btn-danger">削除</button>
                        <!--
                        <input class="decorated-btn" type="submit" value="削除">
                        -->
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </form>
</main>
</div>
<footer class="footer">
     <p class="copyright">Copyright @ 2020 syokuzai_tarou</p>
</footer>
</body>
</html>